.cl-container.indicator-group {
	/* 컨테이너 내 아웃풋 공통 스타일 */
	.cl-output {
		font-weight: 500;
	}
	
	/* 건수 표시 스타일 */
	.cl-output {
		.cl-text {
			span.value-txt {
				color: #3f87fd;
				font-weight: bold;

			}
		}
	}
	/* 버튼 스타일 */
	.cl-button {
		.cl-text {
			span.value-txt {
				color: #3f87fd;
				font-weight: bold;

			}
		}
	}
	/* 네비게이션 */
    .cl-navigationbar 
      .cl-navigationbar-bar 
       .cl-navigationbar-item 
             .cl-text{
			span.value-txt {
				color: black;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt2 {
				color: #ff87fd;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt3 {
				color: #ff1231;
				font-weight: bold;
				padding-left: 3px;
			}
		  }
		  /* 라디오 버튼 */
		.cl-radiobutton .cl-radiobutton-item .cl-text {
          span.value-txt {
				color: black;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt2 {
				color: #ff87fd;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt3 {
				color: #ff1231;
				font-weight: bold;
				padding-left: 3px;
			}
		}
		/* 링크드 리스트 박스 */
		.cl-linkedlistbox .cl-linkedlistbox-listbox .cl-linkedlistbox-list .cl-linkedlistbox-item .cl-text {
		    span.value-txt {
				color: black;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt2 {
				color: #ff87fd;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt3 {
				color: #ff1231;
				font-weight: bold;
				padding-left: 3px;
			}
		}
     	  /* 링크드 콤보박스 */
			.cl-linkedcombobox .cl-linkedcombobox-combo {
			
			.cl-text{

		    .value-txt {
				color: black;
				font-weight: bold;
				padding-left: 3px;
			}
			.value-txt2 {
				color: #ff87fd;
				font-weight: bold;
				padding-left: 3px;
			}
			.value-txt3 {
				color: #ff1231;
				font-weight: bold;
				padding-left: 3px;
			  }
			}
       }  

        /* 메뉴 */
      .cl-menu .cl-menu-list .cl-menu-item .cl-text {
       	    span.value-txt {
				color: black;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt2 {
				color: #ff87fd;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt3 {
				color: #ff1231;
				font-weight: bold;
				padding-left: 3px;
			}
     }
       /* 체크박스 그룹 */
     .cl-checkboxgroup .cl-checkbox .cl-text {
       	    span.value-txt {
				color: black;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt2 {
				color: #ff87fd;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt3 {
				color: #ff1231;
				font-weight: bold;
				padding-left: 3px;
			}
       }
          /* 콤보박스 */
		.cl-combobox .cl-text {
			.value-txt {
				color: black;
				font-weight: bold;
				padding-left: 3px;
			}
			.value-txt2 {
				color: #ff87fd;
				font-weight: bold;
				padding-left: 3px;
			}
			.value-txt3 {
				color: #ff1231;
				font-weight: bold;
				padding-left: 3px;
			  }
	} 
        /* 리스트박스 */
      .cl-listbox .cl-listbox-list .cl-listbox-item .cl-text {
       	    span.value-txt {
				color: black;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt2 {
				color: #ff87fd;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt3 {
				color: #ff1231;
				font-weight: bold;
				padding-left: 3px;
			}
   }  
        /* 사이드네비게이션 */
		.cl-sidenavigation .cl-sidenavigation-item .cl-text {
       	    span.value-txt {
				color: black;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt2 {
				color: #ff87fd;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt3 {
				color: #ff1231;
				font-weight: bold;
				padding-left: 3px;
			}
		}
		 /* 트리 */
		 .cl-tree .cl-tree-item .cl-text {
       	    span.value-txt {
				color: black;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt2 {
				color: #ff87fd;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt3 {
				color: #ff1231;
				font-weight: bold;
				padding-left: 3px;
			}
     }			
     /* 페이지 인덱서 */
     .cl-pageindexer .cl-pageindexer-index-area {
            span.value-txt {
				color: blue;
				font-weight: bold;
				padding-left: 3px;
			}
			span.value-txt2 {
				color: #ff87fd;
				font-weight: bold;
				padding-left: 3px;
			}

    }
     /* 슬라이드 */
     .cl-progress .cl-progress-bar {
		  border-radius: 2px;
		  background-image: linear-gradient(#ff0812, #ff6642, #ff1231);
		  min-height: 3px;
		  
		}
	.cl-progress .cl-text {
         span.value-txt {
				color: yellow;
				font-weight: bold;
				padding-left: 3px;
		}
     }
			
}   