.cl-sidenavigation.cl-custom {
	border: 1px solid black;
	
	//포커스시 배경색
	.cl-sidenavigation-item.cl-selected {
		background-color: darkGray;
		color: #FFFFFF;
	}
	
	//폴더이미지
	.cl-sidenavigation-item.cl-folder .cl-icon {
		background-image: url('../../../../../theme/asset/images/ctl/sidenevigation/folder-line.svg');
	}
	
	//파일이미지
	.cl-sidenavigation-item .cl-icon {
		width: 16px;
		min-width: 16px;
		height: 16px;
		background-image: url(../../../../../theme/asset/images/ctl/sidenevigation/file-list-2-line.svg);
		background-position: center center;
		background-size: 16px auto;
		background-repeat: no-repeat;
		background-origin: content-box;
		box-sizing: content-box;
	}
}