.cl-tabfolder.tab-custom {
	   //아이템 라인 설정
	   border-color: none;
     
     // 선택된 아이템 설정
     .cl-tabfolder-item.cl-selected {
         background-color: none;
         color: #FFFFFF;
         border-color: white;
     }
}

